
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #757575;
}

footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

li a {
	text-decoration: none;
	padding-left: 25px;
	color: #666;
}

#header {
	float: right;
	vertical-align: middle;
}

.topnav {
	padding: 0 7px;
	vertical-align: middle;
}

#appsicon {
	margin-top 5px;
	padding: 0 7px;
	vertical-align: middle;
}

#bellicon {
	padding: 0 7px;
	vertical-align: middle;
}

#userletter {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	padding: 0 5px;
	vertical-align: middle;
}

#logo {
	height: 92px;
	width: 272px;
	padding-top: 109px;
	padding-left: 260px;
	margin-top: 75px;
}

#form {
	line-height: 38px;
	height: 26px;
	width: 426px;
	border: none;
}

#formborder {
	border: 1px solid #e4e4e4;
	height: 33px;
	width: 490px;
}

#mic {
	line-height: 38px;
	height: 23px;
	width: 23px;
	display: inline-block;
	padding-top: 5px;
}

.buttons {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	margin: 35px 4px;
	padding: 0 16px;
	height: 36px;
}

#leftftr {
	float: left;
	margin-left: 4px;
}

#rightftr {
	float: right;
	margin-right: 30px;
}

